packaging_format = 2

id = "headplane"
name = "Headplane"
description.en = "An advanced UI for headscale"
#description.fr = "Une app simple et bidon pour illustrer comme le packaging d'app de YunoHost fonctionne"
version = "0.1~ynh2"
maintainers = ["mdtita"]

[upstream]
license = "MIT"
code = "https://github.com/tale/headplane"
admindoc = "https://github.com/tale/headplane/blob/main/docs/Advanced-Integration.md"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "90M"
ram.runtime = "50M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "path"
    default = "/admin"

    [install.headscale_url]
    ask.en = "Enter headscale install URL"
    type = "string"
    example = "https://headscale.example.com"

    [install.proxy_path]
    ask.en = "Redirect destination path (unix:/file for socket)"
    ask.fr = "Emplacement de destination (unix:/fichier pour socket)"
    type = "string"
    example = "http://127.0.0.1:3000"
    default = "http://127.0.0.1:3000"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
#    [resources.sources.main]
#    url = "https://github.com/tale/headplane"
    [resources.system_user]
    [resources.install_dir]
    owner="headplane:rwx"
    group="headscale:rx"
    [resources.permissions]
    main.url = "/"

