[Unit]
Description=Headplane - Headscale Management Web UI
After=network.target

[Service]
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__YNH_NODE__ __INSTALL_DIR__/build/headplane/server.js # Adjust the entry point if needed
Restart=always
User=__APP__
Environment=NODE_ENV=production
Environment=LOAD_ENV_FILE=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=headplane

[Install]
WantedBy=multi-user.target